

* {
    box-sizing: inherit;
    padding: 0 0 ;
    margin: 0 0 ;
}

html {
    font-size:62.5% ;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    
}

.grid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.grid_column {

}
/* animation */

@keyframes header{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
}

/*  */
.item-swap {
    flex-direction: row-reverse;
}

.container-img-in img {
    width: 100%;
}

.item-hover:hover a{
    text-decoration: underline;
    
}


/*  */
.container-doan-item-2-list::-webkit-scrollbar {
    width: 10px;               /* Chiều rộng vùng chứa scrollbar */
  }
.container-doan-item-2-list::-webkit-scrollbar-track {
    background: white;        /* Màu nền ngoài của thanh scrollbar */
  }
.container-doan-item-2-list::-webkit-scrollbar-thumb {
    background-color: white;    /* Màu của thanh cuộn (scroll thumb) */
    border-radius: 5px;       /* Bo góc scroll thumb */
    border: 2px solid white;  /* Không hỗ trợ padding, margin, transition nên dùng viền cùng màu nên để padding scroll thumb */
}
.container-doan-item-2-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Hiệu ứng di chuột đổi màu*/
}
.container-doan-item-2-list { /*cho Firefox*/
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) #ccc;   /* scroll thumb and track */
}
.container-doan-item-2-list-web:hover .container-doan-item-2-list::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.1); /* Hiệu ứng di chuột đổi màu*/
}
/*  */
.container-restaurant-list::-webkit-scrollbar {
    width: 10px;               /* Chiều rộng vùng chứa scrollbar */
}
.container-restaurant-list::-webkit-scrollbar-track {
    background: white;        /* Màu nền ngoài của thanh scrollbar */
}
.container-restaurant-list::-webkit-scrollbar-thumb {
    background-color: white;    /* Màu của thanh cuộn (scroll thumb) */
    border-radius: 5px;       /* Bo góc scroll thumb */
    border: 2px solid white;  /* Không hỗ trợ padding, margin, transition nên dùng viền cùng màu nên để padding scroll thumb */
}
.container-restaurant-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Hiệu ứng di chuột đổi màu*/
}
.container-restaurant-list { /*cho Firefox*/
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) #ccc;   /* scroll thumb and track */
}

.container-restaurant-list-web:hover .container-restaurant-list::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.1); /* Hiệu ứng di chuột đổi màu*/
}