.app {
    background-image: url(https://lemondesteak.vn/images/bg-page.png);
}


.wrap {
    border-bottom: 1px solid #f2f3f5;
    border-top: 1px solid #f2f3f5;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 66px;
    background-color: rgba(255, 255, 255 ,0.85 );
    z-index: 1;
}

.header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f2f3f5;
    /* background-color: rgba(255, 255, 255 ,0.02 ); */
    
    
}

.header--logo-link img {
    width: 70%;
}

.header--menu {
    
}

.header--menu-list {
    display: flex;
    list-style: none;
    align-items: center;
    
}

.header--menu-item {
    position: relative;
    text-decoration: none;
    /* background-color: rgba(0, 0, 0, 0.2); */
    margin: 0 30px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;

}

.header--menu-item-link {
    text-decoration: none;
    color: black;
}

.header--menu-item-active {
    
}

.header--menu-item::before {
    /* z-index: 2; */
    width: 100%;
    content: "";
    color: red;
    position: absolute;
    border-top: 2px solid;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


.header--menu-item:hover::before {
    display: block;
}

.header--menu-option-list::before {
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 50%;
    height: 30px;
    top: -28px;
    /* border: solid 1px; */
}

.header--menu-item-active::before {
    width: 100%;
    content: "";
    color: red;
    position: absolute;
    border-top: 2px solid;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    display: block;
}
.header--menu-item img {
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* z-index: 1; */
}


.header--menu-option-list {
    /* z-index: 2; */
    position: absolute;
    width: 200px;
    top: calc(100% + 15px);
    left: 0;

    border-radius: 2px;
    animation: fadeIn ease-out 0.3s;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 1px 1rem rgba(0,0,0,0.1);
    display: none;
    /* border: 1px solid #333; */
}

.header--menu-item-option-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.header--menu-item-option-link {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 10px 20px;
    /* border-radius: 2px; */
    border-bottom: 1px solid #d0d0d0;
    
}

.header--menu-item-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header--menu-item-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header--menu-item:hover .header--menu-option-list {
    display: block;

} 



/* container */

.container {
    /*  */
    padding-top: 66px;
}

.container-content-info {
    /* padding: 0 50px; */
}

.container-img-image {
    width: 100%;
}


.container-content {

    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.container-content-welcome {
    
}

.container-content-welcome-link {
    position: relative;
    text-decoration: none;
    font-size: 3rem;
    color: black;
    font-weight: 400;
    

}

.container-content-welcome-link:hover   {
    color: #7f7f92;
}


.container-content-welcome-link::after {
    content: "";
    color: red;
    position: absolute;
    top: calc(100% + 20px);
    left: 12.5%;
    /* transform: translateY(-50%); */
    width: 75%;
    border-top: 3px solid;
}

.container-content-header {
    padding: 30px 0;
}

.container-content-header-text {
    font-size: 1.9rem;
    font-weight: 300;
    color: #414142;
    text-align: center;
    line-height: 40px;
     padding: 0 50px;
}

.container-content-image {


}

.container-content-image-list {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    

}


.container-content-image-item {
    position: relative;
    /* float:left; */
    width: calc(100% /3);
    text-align: center;
}

.container-content-image-item img {
    width: 350px;
    height: 450px;
    border: 1px solid rgba(0,0,0,0.1);
}

.container-content-image-item p {
    width: 100%;
    font-size: 2rem;
    color: black;
    font-weight: 400;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.container-content-image-link:hover {
    /* background-color: rgba(255, 255, 255 ,0.5 ); */
    opacity: 0.8;
    
}

.container-menu-content {
    /* display: flex;
    justify-content: space-between; */
}

.container-menu {

    padding: 30px 0px;
    /* dis */
    /* padding-left: 26px; */
    /* padding-left: 22px; */
    margin-bottom: 180px;
}

.container-menu-heading {
    font-size: 3rem;
    color: black;
    font-weight: 400;
    margin: 30px 0;
    position: relative;
     padding-left: 26px;
    
}

.content-before::after {
    content: "";
    color: red;
    border-top: 3px solid;
    width :20%;
    left: 26px;
    position: absolute;
    top: calc(100% + 10px);
}

.container-menu-info {
    /* display: flex;
    justify-content: space-between; */
}

.container-menu-list {
    list-style: none;
    position: relative;
    
    
    
}

.container-menu-item {
    margin: 40px 0;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

 
/*   */

/* .container-menu-content-image-1 {
    display : none;
    position: absolute;
    right: 0;
    top:calc(0% - 100px);

}

.container-menu-content-image-2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top:calc(0% - 100px);

}

.container-menu-content-image-3 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top:calc(0% - 100px);

}

.container-menu-content-image-4 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top:calc(0% - 100px);

}

.container-menu-content-image-5 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top:calc(0% - 270px);

}

.container-menu-link:hover .container-menu-content-image-1 {
     visibility: hidden;
    opacity: 0;
} */

/* .hover-1:hover ~ .container-menu-content-image-1 {
   
    visibility: visible;
    opacity: 1;
} */

/* .hover-2:hover ~ .container-menu-content-image-2 {
   
    visibility: visible;
    opacity: 1;
}

.hover-3:hover ~ .container-menu-content-image-3 {
    display: block;
}

.hover-4:hover ~ .container-menu-content-image-4 {
    display: block;
}

.hover-5:hover ~ .container-menu-content-image-5 {
    visibility: visible;
    opacity: 1;
} */

.container-menu-content-image {
    display: none;
    position: absolute;
    right: 0;
    top:calc(0% - 100px);
}

.container-menu-content-image-5 {
   
    
    top:calc(0% - 270px);

}

.container-menu-content-image-6 {
    
    position: absolute;
    right: 0%;
    top:calc(0% - 20px );
    visibility: visible;
    opacity: 1;
    
}

.no-hidden {
    width: 930px;
   

}

.no-hidden img {
    width: 100%;
    
}

.container-menu-link:hover ~ .container-menu-content-image {
    display: block;
}

.container-menu-item:hover ~ .container-menu-content-image-6 {
    visibility: hidden;
    opacity: 0;
}


/* .container-menu-content-image-1 {
    display: none;
} */

/* .container-menu-item-img {
    margin: 8px ;
} */

/* .hover-1:hover .container-menu-content-image-1 {
    display: block;
} */



.container-menu-link {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    font-weight: 500;
    background: url(../img/dot-menu-none.png) no-repeat  ;
    background-size: 12px 12px;
    padding-left: 30px;
    /* padding-bottom: 10px; */
}






.container-menu-link:hover {
    color: #7f7f92;
    background: url("../img/dot-menu-hover.png") no-repeat;
    background-size: 12px 12px;

}

/* .hover-1:hover  .container-menu-info {
    display: block;
} */
/* + ~ > */

/* .container-menu-info .hover-1:hover> .container-menu-info {
    display: block;
} */


/* Container retaurant */
.container-restaurant-info {
    display: flex;
    /* justify-content: space-between; */
    margin: 20px 20px;
    justify-content: space-between;
}
.container-restaurant-list {
    /* display: flex; */
    /* justify-content: =; */
    background-color: #f2f3f5;
   padding : 10px 0; 
    overflow-x: hidden;
    overflow-y: scroll;
    height: 418px;
    width: 500px;
    box-shadow: 0.5px 0.5px #4d4444 ;

}

/* .container-restaurant-address { */
   

.container-restaurant-item {
    display: flex;
    align-items: center;
    margin : 15px 20px;
}

.container-restaurant-list-img {
    /* border-radius: 90%; */
    width: 5vw ;
    height: 5vw;

}

.container-restaurant-list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.container-restaurant-list-info {
    margin: 0 10px;
}

.container-restaurant-list-heading {
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
}
.container-restaurant-list-title {
    color: #999;
    font-size: 1.2rem;
}

.container-restaurant-gg-map {
    /* display: flex;
    justify-content: end; */
}



/* Footer */

.wrap-footer {
    height: 142px;
    width: 100%;
    background-color: #003c5b;
    display: flex;
    
    
}

.grid-footer {
    display: flex;
        /* align-items: center; */
}


.footer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    /* display: flex;
    justify-content: space-between; */
}

.footer-tele {
    display: flex;
    align-items: center;
}
 
.footer-tele-icon {
    font-size: 3rem;
    color: white;
}

.footer-tele-num {
    font-size: 3rem;
    color: white;
}

.footer-socials-link {
    text-decoration: none;
    color: white;
    padding: 15px 10px;
    margin-right: 15px;
    border-color:#003c5b;
    border: 1px solid;
    
    border-radius: 100%;
    background-color: white;
    
    
}



.footer-socials p {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    margin-bottom: 30px;
}



.footer-socials-icon {
    font-size: 2rem;
    /* background-color: black; */
    
    color: #003c5b;
    /*  */
    vertical-align: middle;
  

    
}


/* Bếp Trưởng Gợi Ý */


.container-btgy-img {

}

.container-btgy-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-btgy-item {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 10px;
  
    width:15%;
    box-shadow: 0 1px 1rem rgb(0 0 0 / 20%);

}

.container-btgy-item-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center
    
}

.container-btgy-item-link i {
    font-size: 5rem;
    color: #7e92b9;
}

.container-btgy-item-link span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    margin: 5px 0;
    font-style: italic;
    font-family: ui-serif;
    text-align:center;
    padding-top: 5px;
}

/*  */

.container-btgy-img-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container-btgy-img-item {
   /* // background: url(../img/menu-bg-1.png) no-repeat center center; */
    background-color: rgba(201, 201, 201,0.5);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
    width: 50vw;
    height: 300px;
    /* padding: 10px 40px; */
    margin: 20px 0;
   
}

.container-btgy-img-item-img {
    position: relative;
   
    /* display:flex; */
    width: 40%;
    height: 100%;
    
    
    /* margin: 0 20px; */
}

.container-btgy-img-item-img img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    
    /* top:50%; */
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
    
} 

.container-btgy-img-item-context {
    display: block;
    width: 35%;
}

/* .container-btgy-img-item-heading {
    margin-bottom: 20px;
} */

.container-btgy-img-item-heading a{
    text-decoration: none;
    font-size: 1.9rem;
    font-weight: 600;
    color: #333;
    
}

.container-btgy-img-item-text {
    
    color: #414142;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 20px 0;
    /* color: rgba(0, 0, 0, 0.2); */
}

.container-btgy-img-item-cost {
    padding-top: 10px;
}

.container-btgy-img-item-cost span {
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
    border: black solid 1px;
    padding: 7px 30px;
}

.container-btgy-img-item-heading a:hover {
    text-decoration: underline;
}

.container-btgy-img-item-heading a p{
    margin-top: 5px;
}

/*  */

.container-htnh-list {
    

}

.container-htnh-item {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    
}

.container-htnh-item-img {
    width: 25%;
    margin: 0 50px;
}

.container-htnh-item-img img {
    width: 100%;
}

.container-htnh-item-context {

}

.container-htnh-item-header {
    position: relative;
    margin: 20px 0;
}

.container-htnh-item-header span {
    color: #414142;
    font-size: 2.5rem;
    font-weight: 400;
}

.container-htnh-item-text {
    
}

.container-htnh-item-text-link {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: 300;
}

.container-htnh-item-text-link p {
    padding-bottom: 3px;
}

.container-htnh-item-footer {
    margin-top: 20px;
}

.container-htnh-item-footer a {
    
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    background-color: #e54249;
    border-radius: 3px;
    padding: 7px 10px;
}

.container-htnh-item-text-link p:hover {
    text-decoration: underline;
}

.container-htnh-item-footer a:hover {
    text-decoration: underline;
}

.container-htnh-item-header::after {
    content: "";
    color: #e54249;
    position: absolute;
    bottom: calc(0% - 5px);
    left: 0%;
    width: 0%;
    border-top: 3px solid;

}

/*  */
/*  */
.container-doan-list-text {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.container-doan-item-text {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    font-family: cursive;
    padding: 0 15px;
    border-left: #333 solid;
}

/*  */
/*  */
.container-doan-list {
    height: 100%;
   
}

.container-doan-item {
    display: flex;
    
    margin: 30px 5px;
    /* justify-content: flex-start; */
}

.container-doan-item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    /* height: 100%; */
    margin: 0 50px;
}
.container-doan-item-1-heaer {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 20px 0;
    font-family: monospace;
}

.container-doan-item-1-img {
    /* width: 50%;
    height: 100%;
    overflow: hidden; */

}

.container-doan-item-1-img img {
    width: 100%;
    height: 100%;
}
.container-doan-item-2-list-web {
    width: 60%;
    height: 350px;
}

.container-doan-item-2-list {
    width: 100%;
    height: 100%;
    padding-right: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.container-doan-item-2-item {
    margin: 20px 0;
    position: relative;
}

.container-doan-item-2-item-header {
    font-size: 1.8rem;
    font-weight: 300;
    color: #333;
    font-family: cursive;



}

.container-doan-item-2-item-header a {
    text-decoration: none;
    color: #333;
   
}

.container-doan-item-2-item-text {
    
    color: #333;
    font-size: 1.3rem;
    padding: 20px 0;
    border-bottom: 1px #333 solid;
}

.container-doan-item-2-item-price {
    position: absolute;
    font-size: 1.7rem;
    color: #414142;
    font-weight: 100;
    top: 88%;
    right: -31%;
}